body{
    background-color: #f4f4f4; 
   
}
h1{
    display: flex;
    justify-content: space-around;
}
#textContainer{
    height: calc(100dvh - 165px);
    width:auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;
}
.card{
    background-color: #ffffff;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: flex-start;
    padding: 8px 16px;
    gap: 8px;
    box-sizing: border-box;
    min-height: 50px;
}
.checkbox{
    display: block;
    height: 16px;
    width: 16px;
    border: solid 1px gray;
    border-radius: 50%;
}
.group{
    display: flex;
    gap: 10px;

}

.filter{
    padding: 8px 16px;
}

.filter.highlight{
    color: blue;
}
.deleteTodoBtn{
    display: flex;
    margin-left: auto;
}